*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    /*Background Color*/
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: rgb(226, 221, 221);
    /*Tect Color*/
    --text-primary-color: #f0f0f0;
    /*Spacing Variablr*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
    /*Border Color*/
    --border-primary-color:#888888;
    --border-secondary-color:#444444;

    /*Border radius*/
    --border-radius-xl:4px;
    --border-radiud-sm:8px;
    --border-radiud-md:12px;
    --border-radiud-lg:16px;
    --border-radiud-xl:20px;
    --border-radiud-2xl:24px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section{
    height: 100%;
    width: 100%;
}
section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-sm);
}
section .infos{
    width: 1005;
    display: flex;
    justify-content: space-between;
}
.info{
    padding: var(--space-sm);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radiud-sm);
}
.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.block{
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-secondary-color);
}

.fill{
    background-color: var(--bg-fill-color);
}